name: check-spelling

on:
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.fedora_version }}
  cancel-in-progress: true

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Check for typos
        uses: crate-ci/typos@9f99fb8dfe87b8a3441863fb2e5d5da88a2aa9a2 # version 1.0.4
        with:
          files: ./README.md ./docs
          config: ./typos.toml
